@font-face {
  font-family: WorkSansMedium;
  src: url(../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
  font-family: WorkSansRegualar;
  src: url(../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: CrimsonRegular;
  src: url(../assets/fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: CrimsonBold;
  src: url(../assets/fonts/Crimson_Text/CrimsonText-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

:root {
  --primary-bg: #74c69d;
  --secondary-bg: #ffffff;
  --primary-btn-bg: #000000;
  --seconday-btn-bg: #000000;

  --primary-font: #000;
  --secondary-font: #fff;
}

.header,
.footer {
  background-color: var(--primary-bg);
}
button {
  width: 170px;
  padding: 13px 0px 10px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .container {
    margin: 0px 20px;
  }
}

/*----------------------------------------------------
                      header
    --------------------------------------------------*/
.header .container {
  padding-top: 35px;
  padding-bottom: 38px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  display: flex;
  gap: 18px;
  align-items: center;
}
.nav__logo--img {
  width: 70px;
  height: 40px;
}
.nav__logo--name {
  font-size: 40px;
  line-height: 50px;
  font-family: WorkSansMedium;
  color: var(--secondary-font);
}

.nav__elements {
  display: flex;
  gap: 30px;
}

.nav__elements--links {
  text-decoration: none;
  color: var(--secondary-font);
  font-family: WorkSansRegualar;
  font-size: 20px;
  line-height: 25px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  z-index: 999;
}
.hamburger .close-icon {
  display: none;
  font-size: 24px; /* Adjust as needed */
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .container {
    padding-top: 17px;
    padding-bottom: 40.39px;
  }
  .nav__logo {
    gap: 10px;
  }
  .nav__logo--img {
    width: 45px;
  }
  .nav__logo--name {
    font-size: 30px;
    line-height: 37.5px;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .nav__elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    z-index: 10;
  }
  .nav__elements.show-nav {
    display: flex;
  }
  .nav__elements--links {
    margin-bottom: 20px;
  }

  .hamburger .close-icon {
    display: block;
  }
  .hamburger .hamburger-icon {
    display: none;
  }
  .close-icon {
    display: none !important;
  }
  .clicked {
    display: block;
    z-index: 10;
  }
}

/*----------------------------------------------------
                 footer
    --------------------------------------------------*/

.footer {
  margin-top: 54px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 53px 0px;
  flex-wrap: wrap;
}
.footer__imges {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__copyright--content {
  color: var(--secondary-font);
  font-size: 20px;
  line-height: 25px;
  font-family: WorkSansRegular;
}

@media only screen and (max-width: 480px) {
  .footer .container {
    gap: 20px;
    justify-content: center;
    padding: 31px 0px;
  }
}
/*----------------------------------------------------
                     contact us
    --------------------------------------------------*/
.contact-us {
  margin-top: 30px;
}
.contact-us__content {
  margin: 0 auto;
  max-width: 411px;
  text-align: center;
}
.contact__content--heading {
  font-size: 40px;
  line-height: 50px;
  font-family: CrimsonBold;
}
.contact__content--description {
  font-family: WorkSansRegualar;
  font-size: 20px;
  line-height: 25px;
  margin-top: 16px;
}
.contact-us__query {
  margin-top: 67px;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
label {
  display: block;
  margin-bottom: 16px;
  font-family: WorkSansRegualar;
  font-size: 20px;
  line-height: 25px;
}
.contact-us__query--form input {
  width: 100%;
  height: 38px;
  background-color: #eeeeee;
  border-radius: 5px;
}
.contact-us__query--form {
  max-width: 575px;
  width: 100%;
}
.contact-us__query--form #queryMessage {
  height: 75px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
input[type="submit"] {
  color: var(--secondary-font);
  background-color: var(--seconday-btn-bg);
  font-family: WorkSansRegular;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .contact-us__content {
    width: 100%;
  }
  .contact__content--heading {
    font-size: 24px;
    line-height: 30px;
  }
  .contact-us__query {
    margin-top: 45px;
    flex-direction: column-reverse;
  }
  #queryMessage {
    min-height: 141px;
  }
  .contact-us__query--location img {
    width: 100%;
  }
  input {
    max-width: 100%;
  }
}
