
/*----------------------------------------------------
                    work
  --------------------------------------------------*/
.work {
  margin-top: 30px;
}

.work__content {
  max-width: 411px;
  margin: 0 auto;
  text-align: center;
}
.work__title {
  font-family: WorkSansMedium;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-bg);
}
.work__heading {
  font-family: CrimsonBold;
  font-size: 40px;
  line-height: 50px;
}
.work__description {
  font-family: WorkSansRegular;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .work {
    margin-top: 34px;
  }
  .work__content {
    width: 100%;
  }
}
/*----------------------------------------------------
                    projects
  --------------------------------------------------*/
.projects {
  margin-top: 82px;
}
.projects .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 55px;
  justify-content: center;
  align-items: center;
}
.project__img img {
  width: 100%;
  max-width: 570px;
}

.port__btn {
  margin-top: 64px;
}
.port__btn .container {
  display: flex;
  justify-content: center;
}
.portfolio__btn {
  color: var(--secondary-font);
  background-color: var(--seconday-btn-bg);
}
@media screen and (max-width: 767px) {
  .projects .container {
    grid-template-columns: auto;
  }
  .port__btn {
    margin-top: 28px;
  }
  .projects {
    margin-top: 45px;
  }
}

