/*----------------------------------------------------
                        plans
  --------------------------------------------------*/
.plans {
  margin-top: 35px;
}
.plans__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 411px;
  margin: 0 auto;
  text-align: center;
}

.plans__billing--bill {
  padding: 46px 30px;
}
.plans__content--title {
  font-family: WorkSansMedium;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-bg);
}
.plans__content--heading {
  font-family: CrimsonBold;
  font-size: 40px;
  line-height: 50px;
}
.plans__content--description {
  font-family: WorkSansRegular;
  font-size: 20px;
  line-height: 25px;
}
.plans__billing {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.plans__billing--bill {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bill__type {
  font-size: 15px;
  font-family: workSansRegular;
  line-height: 18.75px;
  text-align: center;
}
.bill__amount {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.bill__amount--value {
  font-family: WorkSansMedium;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.bill__amount--duration {
  font-family: WorkSansregular;
  font-size: 15px;
  line-height: 18.75px;
}
.bill__description {
  font-family: WorkSansregular;
  font-size: 15px;
  max-width: 279px;
  line-height: 18.75px;
  text-align: center;
  margin-top: 10px;
}
ul {
  list-style: none;
  margin-top: 52px;
  display: flex;
  gap: 11px;
  flex-direction: column;
}

ul li:before {
  content: "✓";
  margin-right: 14.2px;
  color: var(--primary-bg);
}
li {
  font-family: WorkSansregular;
  font-size: 15px;
  line-height: 18.75px;
}
.bill__btn {
  display: flex;
  justify-content: center;
  margin: 42px auto 0px auto;
  color: var(--secondary-font);
  background-color: var(--seconday-btn-bg);
}
@media only screen and (max-width: 767px) {
  .plans__content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .plans__billing {
    justify-content: space-evenly;
  }
}
