@font-face {
  font-family: WorkSansMedium;
  src: url(../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
  font-family: WorkSansRegualar;
  src: url(../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: CrimsonRegular;
  src: url(../assets/fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: CrimsonBold;
  src: url(../assets/fonts/Crimson_Text/CrimsonText-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

:root {
  --primary-bg: #74c69d;
  --secondary-bg: #ffffff;
  --primary-btn-bg: #000000;
  --seconday-btn-bg: #000000;

  --primary-font: #000;
  --secondary-font: #fff;
}

.header,
.footer {
  background-color: var(--primary-bg);
}
button {
  width: 170px;
  padding: 13px 0px 10px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .container {
    margin: 0px 20px;
  }
}

/*----------------------------------------------------
                    header
  --------------------------------------------------*/
.header .container {
  padding-top: 35px;
  padding-bottom: 38px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  display: flex;
  gap: 18px;
  align-items: center;
}
.nav__logo--img {
  width: 70px;
  height: 40px;
}
.nav__logo--name {
  font-size: 40px;
  line-height: 50px;
  font-family: WorkSansMedium;
  color: var(--secondary-font);
}

.nav__elements {
  display: flex;
  gap: 30px;
}

.nav__elements--links {
  text-decoration: none;
  color: var(--secondary-font);
  font-family: WorkSansRegualar;
  font-size: 20px;
  line-height: 25px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  z-index: 999;
}
.hamburger .close-icon {
  display: none;
  font-size: 24px; /* Adjust as needed */
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .container {
    padding-top: 17px;
    padding-bottom: 40.39px;
  }
  .nav__logo {
    gap: 10px;
  }
  .nav__logo--img {
    width: 45px;
  }
  .nav__logo--name {
    font-size: 30px;
    line-height: 37.5px;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .nav__elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    z-index: 10;
  }
  .nav__elements.show-nav {
    display: flex;
  }
  .nav__elements--links {
    margin-bottom: 20px;
  }

  .hamburger .close-icon {
    display: block;
  }
  .hamburger .hamburger-icon {
    display: none;
  }
  .close-icon {
    display: none !important;
  }
  .clicked {
    display: block;
    z-index: 10;
  }
}

/*----------------------------------------------------
               footer
  --------------------------------------------------*/

.footer {
  margin-top: 54px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 53px 0px;
  flex-wrap: wrap;
}
.footer__imges {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__copyright--content {
  color: var(--secondary-font);
  font-size: 20px;
  line-height: 25px;
  font-family: WorkSansRegular;
}

@media only screen and (max-width: 480px) {
  .footer .container {
    gap: 20px;
    justify-content: center;
    padding: 31px 0px;
  }
}
/*----------------------------------------------------
                        plans
  --------------------------------------------------*/
.plans {
  margin-top: 35px;
}
.plans__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 411px;
  margin: 0 auto;
  text-align: center;
}

.plans__billing--bill {
  padding: 46px 30px;
}
.plans__content--title {
  font-family: WorkSansMedium;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-bg);
}
.plans__content--heading {
  font-family: CrimsonBold;
  font-size: 40px;
  line-height: 50px;
}
.plans__content--description {
  font-family: WorkSansRegular;
  font-size: 20px;
  line-height: 25px;
}
.plans__billing {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.plans__billing--bill {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bill__type {
  font-size: 15px;
  font-family: workSansRegular;
  line-height: 18.75px;
  text-align: center;
}
.bill__amount {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.bill__amount--value {
  font-family: WorkSansMedium;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.bill__amount--duration {
  font-family: WorkSansregular;
  font-size: 15px;
  line-height: 18.75px;
}
.bill__description {
  font-family: WorkSansregular;
  font-size: 15px;
  max-width: 279px;
  line-height: 18.75px;
  text-align: center;
  margin-top: 10px;
}
ul {
  list-style: none;
  margin-top: 52px;
  display: flex;
  gap: 11px;
  flex-direction: column;
}

ul li:before {
  content: "✓";
  margin-right: 14.2px;
  color: var(--primary-bg);
}
li {
  font-family: WorkSansregular;
  font-size: 15px;
  line-height: 18.75px;
}
.bill__btn {
  display: flex;
  justify-content: center;
  margin: 42px auto 0px auto;
  color: var(--secondary-font);
  background-color: var(--seconday-btn-bg);
}
@media only screen and (max-width: 767px) {
  .plans__content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .plans__billing {
    justify-content: space-evenly;
  }
}
